
.element {
}

.resistor {
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.btn {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.btn-text {
  width: 50px;
  max-width: 50px;
  text-align: center;
}

.card-body {
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}

.card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}

.canvas {
}

.canvas-container {
}

.container {
}

#edit_window {
}
#results_window {
}
