{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="author" href="/humans.txt"/>-->
    <!--<link rel="shortcut icon" href="" />-->
    <title>Circuit Simulation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="{% static 'circuitSim/fabric.min.js' %}"></script>
   

    <!--<link rel="stylesheet" href="{% static 'circuitSim/style.css' %}">
    -->
  </head>
  <body>
    <div class="container" style="height: 100%;">
    <div class="row table-row">
      <div class="col-md-2 col-ms-2">
        <center>
        Components:<br>

          <button id="addConnectionBtn" class="btn btn-info">Add wire</button><br>
          <button id="addDCVoltageSourceBtn" class="btn btn-info"><canvas id="DCVBtnCanvas" width="50" height="40"></canvas></button><br>
          <button id="addResistorBtn" class="btn btn-info"><canvas id="ResistorBtnCanvas" width="50" height="40"></canvas></button><br>
          <button id="addCapacitorBtn" class="btn btn-info"><canvas id="CapacitorBtnCanvas" width="50" height="40"></canvas></button><br>
          <button id="addGndBtn" class="btn btn-info"><canvas id="GndBtnCanvas" width="50" height="40"></canvas></button><br>

        Actions:<br>
        <button id="deleteBtn" class="btn btn-info">Delete</button><br><br>
        <button id="rotateBtn" class="btn btn-info">Rotate</button><br><br>
        <button id="editBtn" class="btn btn-info" data-toggle="modal" data-target="#edit_window">Edit</button><br><br>

        Simulation:<br>
        <button id="runBtn" class="btn btn-info" data-toggle="modal" data-target="#results_window">Run</button><br><br>
        </center>
      </div>
      <div class="col-md-9 col-ms-9" style="min-height: 100%;">
        <canvas id="c" width="800" height="600" style="min-width: 100%; min-height: 100%;"></canvas>
      </div>
    </div>
    <div id="results_window" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Simulation results</h4>
          </div>
          <div class="modal-body" id="results_content">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="results_close">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="edit_window" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit component</h4>
          </div>
          <div class="modal-body" id="edit_content">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="edit_close" onclick="endEdit()">Save and close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="{% static 'circuitSim/circuitSim.js' %}"></script>
  </body>
</html>
