{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Circuit Simulation</title>

    <link rel="shortcut icon" href="{% static 'circuitSim/favicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'circuitSim/bootstrap-switch.min.css' %}">
  
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="{% static 'circuitSim/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'circuitSim/fabric.min.js' %}"></script>
   
    <link rel="stylesheet" href="{% static 'circuitSim/style.css' %}">
    <script>
      var static_path="{% static 'circuitSim/' %}";
      var base_url="{% url 'index' %}";
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-faded navbar-toggleable-md" style="background-color: #e3f2fd;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">CircuitSim</a>

      <div class="collapse navbar-collapse" id="containerNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">File
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" id="openLink" data-toggle="modal" data-target="#open_window">Open circuit from local file</a>
              <a class="dropdown-item" href="#" id="saveLink" data-toggle="modal" data-target="#save_window">Save circuit in a local file</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Insert
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" id="addConnectionLink">Wire</a>
              <a class="dropdown-item" href="#" id="addDCVoltageSourceLink">DCV source</a>
              <a class="dropdown-item" href="#" id="addResistorLink">Resistor</a>
              <a class="dropdown-item" href="#" id="addCapacitorLink">Capacitor</a>
              <a class="dropdown-item" href="#" id="addInductorLink">Inductor</a>
              <a class="dropdown-item" href="#" id="addGndLink">Ground</a>
              <a class="dropdown-item" href="#" id="addDiodeLink">Diode</a>
              <a class="dropdown-item" href="#" id="addTransistorLink">Transistor</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Edit
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" id="editLink">Edit properties (e)</a>
              <a class="dropdown-item" href="#" id="deleteLink">Delete (DEL)</a>
              <a class="dropdown-item" href="#" id="rotateLink">Rotate (r)</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Simulation</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" id="simulOptLink" data-toggle="modal" data-target="#simulopt_window">Simulate</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Load example</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" id="example_rc">RC circuit</a>
              <a class="dropdown-item" href="#" id="example_rc_pulse">RC circuit with pulse input</a>
              <a class="dropdown-item" href="#" id="example_rectifier">Simple rectifier</a>
              <a class="dropdown-item" href="#" id="example_bridge_rectifier">Bridge rectifier</a>
              <a class="dropdown-item" href="#" id="example_amp">Single stage transistor amplifier</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div class="row table-row">
      <div class="d-none d-md-block col-md-2">
        <center>
          <br>
          <div class="card card-default">
            <div class="card-header">Add</div>
            <div class="card-body">
              <!--<button id="addConnectionBtn" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off"></button><br>-->
              Add connection mode: <input type="checkbox" id="addConnectionBtn"><br>
              <script>$("#addConnectionBtn").bootstrapSwitch();</script>
              <button id="addDCVoltageSourceBtn" class="btn btn-default"><canvas id="DCVBtnCanvas" width="60" height="50"></canvas></button><br>
              <button id="addResistorBtn" class="btn btn-default"><canvas id="ResistorBtnCanvas" width="60" height="50"></canvas></button><br>
              <button id="addCapacitorBtn" class="btn btn-default"><canvas id="CapacitorBtnCanvas" width="60" height="50"></canvas></button><br>
              <button id="addInductorBtn" class="btn btn-default"><canvas id="InductorBtnCanvas" width="60" height="50"></canvas></button><br>
              <button id="addGndBtn" class="btn btn-default"><canvas id="GndBtnCanvas" width="60" height="50"></canvas></button><br>
              <button id="addDiodeBtn" class="btn btn-default"><canvas id="DiodeBtnCanvas" width="60" height="50"></canvas></button><br>
              <button id="addTransistorBtn" class="btn btn-default"><canvas id="TransistorBtnCanvas" width="60" height="50"></canvas></button><br>
            </div>
          </div>
        </center>
      </div>
      <div class="col-md-10 col-ms-12">
        <canvas id="c" width="800" height="600"></canvas>
      </div>
    </div>
    <div id="results_window" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" id="results_modal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Simulation results</h4>
          </div>
          <div class="modal-body" id="results_content">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="results_close">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="edit_window" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit component</h4>
          </div>
          <div class="modal-body" id="edit_content">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="edit_close" onclick="endEdit()">Save and close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="simulopt_window" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Simulation options</h4>
          </div>
          <div class="modal-body" id="simulopt_content">
            <div class="form-group row">
              <label for="tFinal" class="col-2 col-form-label">Simulation time</label>
              <div class="col-10">
                <input class="form-control" type="number" value="1" id="tFinal">
              </div>
            </div>
            <div class="form-group row">
              <label for="dt" class="col-2 col-form-label">Time step</label>
              <div class="col-10">
                <input class="form-control" type="number" value="0.001" id="dt">
              </div>
            </div>
            <div class="form-group row">
              <label for="internalStep" class="col-2 col-form-label">Internal step</label>
              <div class="col-10">
                <input class="form-control" type="number" value="1" id="internalStep">
              </div>
            </div>
            <div class="form-group row">
              <label for="method" class="col-2 col-form-label">Simulation method</label>
              <div class="col-5">
                <select class="custom-select" id="method">
                  <option value="BE" selected>Backward Euler</option>
                  <option value="GEAR">GEAR</option>
                </select>
              </div>
              <label for="fft" class="col-2 col-form-label">Fourier analysis</label>
              <div class="col-3">
                <select class="custom-select" id="fft">
                  <option value="true">Yes</option>
                  <option value="false" selected>No</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="nodes" class="col-2 col-form-label">Nodes to watch</label>
              <div class="col-10">
                <select class="custom-select" id="nodes" multiple="multiple" size="5" style="max-width:90%; width: 90%; max-height: 6rem; height: 6rem;">
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="simulopt_close" onclick="endSimulOpt();">Save, close and simulate</button>
          </div>
        </div>
      </div>
    </div>
    <div id="save_window" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Save to file</h4>
          </div>
          <div class="modal-body" id="save_content">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="save_close">Download and close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="open_window" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Open file</h4>
          </div>
          <div class="modal-body" id="open_content">
            <div class="form-group row">
              <label for="method" class="col-2 col-form-label">File</label>
              <div class="col-8">
                <input type="file" id="open_file_input" value="Open">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="open_file_load">Load circuit</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="{% static 'circuitSim/circuitSim.js' %}"></script>
  </body>
</html>
